@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Oswald&display=swap');
body {
    background-color: white;
}
*{
    margin: 0;
    padding: 0;
}
nav{
     font-family: 'Kanit', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 30px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 40px;
    padding: 0 4px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Oswald', sans-serif;
    display: flex;
    margin: 10px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.png');
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin: 14px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vh;
    cursor: pointer;
}
.songItemContainer{
margin-top: 80px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 23px;
}
.songItem img{
    width: 40px;
    margin: 0 13px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 22px;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 24vw;
    font-family: 'Oswald', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}